* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 24px Helvetica, Arial;
  height: 100vh;
  display: flex;
}

button, input {
  font: 24px Helvetica, Arial;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 75vh;
}

#messages li {
  padding: 5px 10px;
  word-break: break-word;
}

#messages li:nth-child(odd) {
  background: #eee;
}

#stream {
  height: 640px;
  width: 480px;
  margin: 0px auto;
}

#feed {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#log {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-left: 1px black solid;
}

#log-control {
  height: 100px;
  display: flex;
  /*justify-content: space-around;*/
  flex-direction: column;
}

#log-input {
  width: 100%;
  height: 50px;
  border: 1px solid #000;
  background-color: transparent;
}

#send-message {
  width: 100%;
}

#start-stream {
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 230px;
}

#drivetrain {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
}

#drivetrain-middle {
  display: flex;
  flex-direction: row-reverse;
}

#logo {
  height: 75px;
  width: 75px;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
}

.drivetrain-button {
  height: 75px;
  width: 75px;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.log-button {
  height: 50px;
  width: 300px;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  background-color: transparent;
}

.video-camera-button {
  height: 75px;
  width: 75px;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}